.ExamplesOfWorks {
  margin: auto;
  text-align: center;

  .ExamplesOfWorks_paragraf {
    font-size: 60px;
    color: white;

    .ExamplesOfWorks__Link {
      text-decoration: none; 
      color: white;
    }
  }
}
